	<footer>
		Copyright &copy; <script>document.write(new Date().getFullYear());</script>. Built with 
		<a href="" target="_blank">NodeJS(expressjs)</a> 
		and <a href="" target="_blank">MongoDB</a>.
		By <a href="" target="_blank">chemdemo</a>.
	</footer>
</body>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<!-- <script src="lib/requirejs/require.js"></script> -->