	<footer>
		Copyright &copy; <script>document.write(new Date().getFullYear());</script>. Built with 
		<a href="" target="_blank">Nodejs</a> 
		&amp; <a href="" target="_blank">Expressjs</a>
		and <a href="" target="_blank">MongoDB</a>.
		By <a href="" target="_blank">chemdemo</a>.
	</footer>
</body>
<script src="http://qplus1.idqqimg.com/lib/jquery/1.8.3/jquery.min.js"></script>
<!-- <script src="lib/requirejs/require.js"></script> -->