<header>
	<div class="header-inner clearfix">
		<section class="page-title">
			<h1>
				<a href="/">chemdemo</a>
			</h1>
			<p class="sub-title sub-color">天下难事，必做于易；天下大事，必做于细。 —— 老 子！</p>
		</section>

		<form class="page-search clearfix" method="POST" action="">
			<div class="search-wrap clearfix">
				<label class="icon-search" for="search-text" title="搜索"></label>
				<input id="search-text" class="search-text" placeholder="Input keywords" type="text" />
			</div>
		</form>
	</div>
</header>