/*@import url(global.css);
@import url(web_font_icon.css);*/
[class|="icon"] {
	color: inherit;
}

body {
	overflow: hidden;
}

.ace_scrollbar {
	width: 12px !important;
	background-color: #DCDCDC;
}

/* edit page style */
header {
	height: 50px;
	background-color: #404040;
	color: #EEE;
}
.header-inner {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	line-height: 50px;
}
.home-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.post-body {
	width: 80%;
	padding: 1em;
	margin: 50px auto 3px;
	border: 1px solid #DDD;
	/*box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.05);*/
	box-shadow: 0 3px 0 3px #EEE;
	background-color: #FFF;
}
.post-body > section {
	margin-bottom: 1em;
}
.post-body input[type="checkbox"],
.post-body label {
	vertical-align: middle;
	font-weight: bold;
}
.post-body .block-label {
	display: block;
}

.post-body .post-title {
	width: 100%;
}

.edit-btns .icon-file {
	border: 1px solid #DBDBDB;
}

.post-editor {
	border: 1px solid #DDD;
	margin: 0 auto;
	outline: 0 none;
	height: 500px;
	box-sizing: border-box;
	font-size: 13px;
	/*padding: .5em;
	padding-right: 0;*/
}

.tags-edit {
	position: relative;
}
.tags-select {
	position: absolute;
	top: -36px;
	right: 0;
	width: 300px;
	min-height: 200px;
	background-color: rgba(255, 255, 255, 0.4);
	z-index: 10;
}
.tags-select-title {
	height: 30px;
	line-height: 30px;
	background-color: rgba(64, 64, 64, 0.7);
	color: #EEE;
	padding: 0 1em;
}
.tags-select .tags-list {
	padding: 1em;
}
.tags-select-title .close {
	float: right;
	cursor: pointer;
	line-height: 30px;
}
.post-tags {
	width: 90%;
}
.add-tags i {
	padding-right: .2em;
}

.edit-summary {
	;
}
.edit-summary .textarea {
	width: 100%;
	height: 8em;
	resize: none;
}
.opt-btns i {
	margin-right: 3px;
	/*display: none;*/
}

.post-preview {
	position: fixed;
	width: 0%;
	height: 99.9%;
	top: 0;
	right: 0;
	z-index: 100;
	transition: width .5s ease-in-out;
}
.post-preview .preview-ctrl {
	position: absolute;
	width: 46px;
	height: 60px;
	top: 30%;
	left: -23px;
	border: 1px solid #DDD;
	border-radius: 23px/30px;
	background-color: #FFF;
	cursor: pointer;
	overflow: hidden;
	font-size: 3em;
	transition: all .3s;
}
.preview-ctrl-inner {
	position: absolute;
	left: -9px;
	top: 12px;
	color: #00BCE1;
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	transition: all .3s;
}
.preview-ctrl:hover {
	background-color: #DDD;
	border-color: #CCC;
}
.preview-ctrl:hover .preview-ctrl-inner {
	color: #F17F7F;
}
.preview-close .preview-ctrl-inner {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	left: -7px;
}
.preview-box {
	position: relative;
	background-color: #EEE;
	width: 100%;
	height: 100%;
	box-shadow: -1px 0 20px 1px rgba(0,0,0,0.2);
	overflow: auto;
	padding: 0 1em;

	transition: all .3s;
}
.preview-close .preview-box {
	box-shadow: none;
}
