/* global style */
/*::-webkit-scrollbar-track-piece {background-color: #FFF;}
::-webkit-scrollbar {width: 13px; height: 13px;}
::-webkit-scrollbar-thumb {background-color: #999; border: 2px solid #FFF;}
::-webkit-scrollbar-thumb:vertical {border-top: none; border-bottom: none;}
::-webkit-scrollbar-thumb:horizontal {border-left: none; border-right: none;}
::-webkit-scrollbar-thumb:hover {background-color: #9f9f9f;}*/
/* see google email */
::-webkit-scrollbar {width: 12px;height: 12px;}
::-webkit-scrollbar-thumb {background-color: rgba(0,0,0,0.2);-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);}
::-webkit-scrollbar-button {width: 0;height: 0;display: none;}
::-webkit-scrollbar-corner {background-color: transparent;}
::-webkit-scrollbar-thumb:hover{-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);background-color:rgba(0,0,0,.4)}
::-webkit-scrollbar-thumb:active{-webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,.35);background-color:rgba(0,0,0,.5)}
::-webkit-scrollbar-thumb:vertical{border-width:0;border-left-width:5px;}
/*::-webkit-scrollbar-thumb:horizontal{border-width:0;border-top-width:5px}*/
::-webkit-scrollbar-track:vertical{border-left-width:6px;border-right-width:1px}
/*::-webkit-scrollbar-track:horizontal{border-bottom:1px;border-top:6px}*/
::-webkit-scrollbar-thumb:vertical{border-width:0;border-left-width:6px;border-right-width:1px}
/*::-webkit-scrollbar-thumb:horizontal{border-width:0;border-bottom:1px;border-top:6px}*/
::-webkit-scrollbar-track:hover{-webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.1);background-color:rgba(0,0,0,.05)}
::-webkit-scrollbar-track:active{-webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07);background-color:rgba(0,0,0,.05)}

[class|="icon"] {
	color: #999;
}

html, body, ul, li, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, input, textarea {
	margin: 0;
	padding: 0;
}
body, input, button, textarea {
	font: normal normal normal 13px/2 'Segoe UI Semilight', Helvetica, Tahoma, sans-serif;
	color: #333;
	text-rendering: optimizeLegibility;
}
html {
	overflow-x: hidden;
}
body {
	/*background: #FAFAF2 url(images/bg07.png) repeat 0 0;*/
	/*background-color: #f0f0f0;*/
	/*background-color: #FFFEF2;*/
	background-color: #FBFFF9;
	/*background-color: #f1f4f9;*/
	position: relative;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
pre, code {
	font-family: /*Monaco, 'PT Mono', */Consolas, 'Lucida Console', monospace;
}
/*pre ::selection,
code ::selection {
	background-color: #720029;
}*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.ul, .ul li {
	list-style: none;
}
a, .a {
	text-decoration: none;
	color: #3ED4E5;
	color: #33B5E5;
	/*color: #43c0d9;*/
}
a:hover {
	text-decoration: underline;
}
.input, .textarea {
	border: 1px solid #DDD;
	box-sizing: border-box;
	padding: 5px;
	background-color: #FFF;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	transition: /*border linear .2s, */box-shadow linear .2s;
}
.input:focus,
.textarea:focus {
	outline: 0 none;
	/*border-color: #CCC;*/
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 15px 1px rgba(100, 100, 100, 0.15);
}
.clearfix {
	;
}
.clearfix:after {
	content: ' ';
	display: block;
	clear: both;
	height: 0;
}
::selection {
	color: #555;
	background-color: #CCC;
}

.shadow-box {
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
	background-color: #FBFFF9;
}

.tag {
	margin: 0 2px;
	/*background-color: #33B5E5;*/
	/*color: #EEE;*/
	padding: 0 3px;
}

.topped {
	color: #FC407C;
	font-style: normal;
	/*font-size: 0.9em;*/
	font-weight: normal;
}

.none {
	display: none;
}

.fade {
	opacity: 0;
	/*transition: opacity .3s;*/
}
.fade.in {
	opacity: 1;
}

.required {
	color: #DD0833;
}

/* btn style */
.i-btn {
	display: inline-block;
	vertical-align: middle;
	border: none;
	padding: 5px 15px;
	line-height: 20px;
	text-align: center;
	background-color: #EBEBEB;
	border-radius: 2px;
	color: #414141;
	cursor: pointer;
	text-decoration: none;
	margin: 0 10px 0 0;
	position: relative;
}
.i-btn.btn-small {
	padding: 3px 10px;
}
.i-btn.btn-mini {
	padding: 1px 3px;
}
.i-btn:hover {
	text-decoration: none;
	background-color: rgba(219,219,219,0.8);
}
.i-btn:active {
	background-color: #EBEBEB;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
}
.i-btn-red {
	background-color: #F17F7F;
	color: #FFF;
}
.i-btn-blue {
	background-color: #33B5E5;
	color: #FFF;
}
.i-btn-red:hover,
.i-btn-red:active {
	background-color: #F06161;
}
.i-btn-blue:hover,
.i-btn-blue:active {
	background-color: #3CCAFF;
}
.i-btn-red:active,
.i-btn-blue:active {
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.4);
}

.btn-group {
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-right: .5em;
}
.btn-group .i-btn {
	border: 1px solid #DBDBDB;
	border-right: none;
	float: left;
	border-radius: 0;
	margin-right: 0;
}
.btn-group .i-btn:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.btn-group .i-btn:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-right: 1px solid #DBDBDB;
}

/* header */
header {
	width: 100%;
	height: 60px;
	/*background-color: #404040;*/
	/*background-color: #323232;*/
	background-color: rgba(32,32,32,0.9);
	border-top: 1px solid #EEE;
	/*background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	overflow: hidden;
}
.header-inner {
	width: 960px;
	margin: 0 auto;
}
.page-title {
	float: left;
	/*font-family: 'Segoe UI Light';*/
}
header a {
	color: #888;
	line-height: 60px;
}
header a.active {
	color: #EEE;
}
header h1 a {
	font-size: 1.3em;
	font-weight: normal;
	line-height: 55px;
}
header .sub-title {
	float: left;
	line-height: 1em;
	font-size: 12px;
	margin-top: -11px;
	color: #999;
	/*font-style: italic;*/
}
header nav {
	float: right;
	margin-right: 3em;
}
header nav a {
	display: inline-block;
	padding: 0 1em;
	margin-right: -3px;
	border-top: 1px solid transparent;
}
header nav a.active,
header nav a:hover {
	background-color: #3D3D3D;
	color: #EEE;
	border-color: #33B5E5;
	text-decoration: none;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}
.page-search {
	float: right;
	text-align: right;
	/*background-color: rgba(241, 241, 241, .1);*/
	background-color: #3D3D3D;
	height: 100%;
	padding: 14px 3px;
}
.search-wrap {
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 2px 10px;
	width: 166px;
	display: inline-block;
	text-align: left;
	box-shadow: 0 2px 2px #f0f0f0 inset;
	height: 25px;
	line-height: 25px;
}
.search-wrap label {
	cursor: pointer;
	float: right;
	margin-top: 7px;
}
.search-wrap input {
	border: none;
	outline: none;
	width: 153px;
	text-align: left;
}

/* page body set */
.page-body {
	width: 960px;
	margin: 8em auto 0;
	/*padding: 8em 0 0 1.5em;*/
	/*background-color: #FFF;*/
	position: relative;
	box-sizing: border-box;
	min-height: 500px;
}
.page-content {
	width: 70%;
	float: left;
	/*margin-right: 250px;*/
	/*margin-right: 40px;
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;*/
}
.edit-info {
	padding: 0 2em;
	margin: .5em 0;
	text-align: right;
}
.post-gap {
	margin: 0 .5em;
}

/* sitebar */
.page-sitebar {
	width: 200px;
	/*float: right;*/
	/*display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;*/
	color: #888;
	position: fixed;
	right: 16%;
}
.page-sitebar a {
	/*color: #0F789E;*/
}
.page-sitebar a:hover {
	background-color: #DDD !important;
	text-decoration: none;
}
.page-sitebar > section {
	margin-bottom: 20px;
	/*border-left: 2px solid #33B5E5;*/
	border-left: 2px solid #EEE;
	padding: 1px 8px;
}
.page-sitebar .author-info {
	/*border-left: none;
	padding: 1px;*/
}
.author-info img {
	width: 50%;
	display: block;
}
.author-info .sns-icon a {
	cursor: pointer;
	line-height: 16px;
	padding-left: 18px;
	background: transparent url(/style/images/social-icons.png) no-repeat 0 1px;
	overflow: hidden;
	transition: color .15s linear;
}
.author-info .sns-icon .sns-douban {
	background-position: 0 -96px;
	margin-left: 5px;
}

/* footer */
footer {
	text-align: center;
	color: #999;
	/*background-color: #f8f8f8;*/
	height: 60px;
	padding-top: 40px;
}