/*@import url(global.css);
@import url(web_font_icon.css);*/

.post {
	margin-bottom: 2em;
	padding-top: 1em;
}
.post-title a {
	/*display: block;*/
	/*padding: 0 2em;*/
	padding: 0 5px 0 3px;
	font-size: 1.2em;
	margin-left: 1.5em;
	/*border-left: 3px solid #FF61AD;*/
	border-left: 3px solid #404040;
	background-color: transparent;
	transition: background-color ease-in-out .3s;
}
.post-title a:hover {
	background-color: #EEE;
	text-decoration: none;
}
.post-cover {
	text-align: center;
	overflow: hidden;
}
.post-cover img {
	width: auto;
	max-width: 100%;
}
.post-summary {
	text-indent: 2em;
	padding: 0 2em;
}
.post-more {
	padding: 0 2em;
}
.post-more i {
	color: #33B5E5;
}
.post-info {
	margin-top: 1em;
	color: #999;
	background-color: #f8f8f8;
	border-top: 1px solid #EEE;
	padding: .5em 2em .5em;
}
.post-edit,
.post-visite,
.line,
.post-comments {
	float: right;
	margin-left: .6em;
}