.page-body {
	padding: 1em 2em;
	box-sizing: border-box;
}

h2 {
	line-height: 3em;
}
.list-key {
	color: #D80B4D;
}

li {
	overflow: hidden;
	color: #999;
}

.box-title {
	float: left;
}
.box-info {
	float: right;
	/*max-width: 440px;*/
}