.page-body {
	/*padding: 8em 2em 1em;*/
	padding: 1em 2em;
}

h2 {
	line-height: 3em;
}
.list-key {
	color: #FC407C;
}

li {
	overflow: hidden;
	color: #999;
}

.box-title {
	float: left;
}
.box-info {
	float: right;
	/*max-width: 440px;*/
}