/*@import url(global.css);
@import url(web_font_icon.css);*/

.post {
	padding: 2em 2em 1em;
}
.edit-info {
	padding: 0;
	border-bottom: 1px dashed #EEE;
}
.post-top {
	color: #888;
}
.post-edit {
	margin-right: .5em;
}
.post-body p {
	text-indent: 2em;
	margin-top: 1em;
}
.prev-next {
	margin: 1em 0;
	padding-top: 1em;
	border-top: 1px dashed #EEE;
}

.post-comments {
	margin-top: 2em;
	font-size: 12px;
	background-color: #F8F8F8;
	padding: 1em;
	border: 1px solid #E6E6E6;
}

/* comment list style */
.comment-list {
	border-top: 1px solid #EEE;
	margin-top: .5em;
}
.no-comment {
	text-align: center;
	color: #555;
	line-height: 5em;
}
.reply-list {
	margin-top: .5em;
	/*border-left: 1px dashed #DDD;*/
}
.comment {
	padding: 1em;
	/*border-bottom: 1px dashed #DDD;*/
	border-bottom: 1px solid #EEE;
	/*margin-top: .5em;*/
	transition: background-color .8s ease-in-out;
}
/*.comment:hover {
	background-color: #FBFAE6;
}*/
.reply-list .comment {
	/*border: 1px dashed #DDD;*/
	margin-bottom: .5em;
	background-color: #F3F3F3;
}
/*.reply-list .comment:hover {
	background-color: #FFF;
}*/
.comment .avatar {
	float: left;
	width: 48px;
	height: 48px;
	/*padding: 1px;*/
	border: 1px solid #DDD;
	/*border-radius: 24px;*/
	box-shadow: 0 0 10px 1px rgba(5, 215, 255, 0.2);
}
.comment .comment-body {
	padding-left: 5em;
}
.comment h3 {
	line-height: 1em;
}
.comment h3 a {
	color: #222;
}
.comment h3 .comment-date {
	font-weight: normal;
	float: right;
	font-size: .8em;
}
.comment .comment-content {
	margin: 1em 0;
}
.comment .comment-btns {
	text-align: right;
}
.comment-btns .comment-del {
	opacity: 0;
	transition: opacity .8s ease-in-out;
}
.comment-btns:hover .comment-del {
	opacity: 1;
}
.comment-btns a {
	margin-right: 1em;
}
.comment-btns a, .comment-btns i {
	color: #222;
}
#tips {
	display: none;
}

/* add comment */
.add-comment {
	margin: .5em 0;
}
.add-comment p {
	margin: 1em 0;
}
.add-comment label {
	margin-left: .5em;
}
.add-comment input {
	padding: 2px 5px;
	height: 30px;
	line-height: 1.5em;
	width: 25em;
}
.comment-input {
	margin-bottom: .5em;
}
.comment-input label {
	display: block;
	margin-left: 0;
	margin-bottom: .5em;
	display: none;
}
.add-comment textarea {
	resize: none;
	line-height: 1.5em;
	width: 98%;
}
.add-comment-btns i {
	margin-right: 3px;
}
.comment-submit i {
	color: #FFF;
}
.comment-cancel {
	display: none;
}
.comment-list .comment-cancel {
	display: inline-block;
}
