body {
	background: #222;
}

h2 {
	font-size: 2em;
}

.input {
	width: 90%;
}
label {
	display: block;
}

.page-body form {
	width: 30%;
	margin: 5em auto 0;
	color: #FFF;
}

.page-body form p {
	margin-bottom: 1em;
}

.page-body form .i-btn i {
	color: #FFF;
	margin-right: 2px;
}

.error {
	text-align: center;
	margin-top: 1em;
	color: red;
	font-size: 2em;
}