{{ include include/html-header }}

	{{ include include/header }}
	<div class="page-body clearfix"></div>

	<h2 style="text-align: center; line-height: 12em; color: red; font-size: 3em;">{{= msg }}</h2>

{{ include include/footer }}
</html>