{% extends 'layout.html' %}

{% block stylesheet %}
{% if (env && env === 'production') %}
<link rel="stylesheet" href="/build/style/edit.min.css" />
{% else %}
<link rel="stylesheet" href="/style/icons.css" />
<link rel="stylesheet" href="/style/md.css" />
<link rel="stylesheet" href="/style/global.css" />
<link rel="stylesheet" href="/style/edit.css" />
{% endif %}
<link id="code-theme" rel="stylesheet" href="/lib/highlight.js/styles/solarized_light.css" />
{% endblock %}

{% block header %}
<!-- <header>
	<div class="header-inner">
		<a href="/" title="回主页">
			<img src="/style/images/dm.jpg" class="home-avatar" alt="chemdemo" />
		</a>
	</div>
</header> -->
{% endblock %}

{% block content %}
<a href="/" title="back" class="i-btn btn-small back"><i class="icon-arrow-left"></i>回主页</a>
<div class="post-body">
	<input id="csrf" type="hidden" name="_csrf" value="{{ token }}">
	<input id="postid" type="hidden" name="postid" value="{{ post._id }}">
	<section>
		<label for="post-title" class="block-label">文章标题：</label>
		<input class="input post-title" type="text" id="post-title" value="{{ post.title }}" placeholder="post title" />
	</section>

	<section class="edit-btns">
		<div class="btn-group">
			<span class="i-btn editor-btn" data-cmd="h1" data-insert="#">h1</span>
			<span class="i-btn editor-btn" data-cmd="h2" data-insert="##">h2</span>
			<span class="i-btn editor-btn" data-cmd="h3" data-insert="###">h3</span>
			<span class="i-btn editor-btn" data-cmd="h4" data-insert="####">h4</span>
		</div>

		<div class="btn-group">
			<span class="i-btn icon-image editor-btn" data-cmd="image" data-insert="![^]()"></span>
			<span class="i-btn icon-link editor-btn" data-cmd="link" data-insert="[^]()"></span>
			<span class="i-btn icon-attachment editor-btn" data-cmd="attachment" data-insert="[^]()"></span>
			<!-- <a class="i-btn icon-file" href="#" title="导入markdown文档"></a> -->
		</div>

		<div class="btn-group">
			<span class="i-btn icon-bold editor-btn" data-cmd="bold" data-insert="**^**"></span>
			<span class="i-btn icon-italic editor-btn" data-cmd="italic" data-insert="*^*"></span>
			<span class="i-btn icon-underline editor-btn" data-cmd="underline" data-insert="<u>^</u>"></span>
			<span class="i-btn icon-strikethrough editor-btn" data-cmd="strikethrough" data-insert="~~^~~"></span>
			<span class="i-btn icon-code editor-btn" data-cmd="code" data-insert="`^`"></span>
		</div>

		<div class="btn-group">
			<span class="i-btn icon-numbered-list editor-btn" data-cmd="ordered-list" data-insert="1. "></span>
			<span class="i-btn icon-list editor-btn" data-cmd="unordered-list" data-insert="- "></span>
			<span class="i-btn icon-left-quote editor-btn" data-cmd="quote" data-insert="> "></span>
		</div>

		<button class="i-btn icon-document-alt-fill" title="导入markdown文档"><input type="file" class="hidden-file-input" id="import-md" /></button>
	</section>

	<section class="post-editor" id="post-editor"></section>

	<section class="edit-summary">
		<label class="block-label" for="post-summary">文章摘要：</label>
		<textarea class="textarea" id="post-summary" placeholder="add post summary"></textarea>
	</section>

	<section class="tags-edit">
		<label for="post-tags" class="block-label">添加标签：</label>
		<input value="{% if post.tags %}{{ post.tags.join(' ') }}{% endif %}" class="input post-tags" id="post-tags" placeholder="post tags" />
		<a href="javascript: void(0);" class="add-tags"><i class="icon-plus-alt"></i>添加已有标签</a>

		<section class="tags-select">
			<div class="tags-select-title">
				选择已有标签&nbsp;
				<span class="icon-arrow-down-right close"></span>
			</div>
			<div class="tags-list">
				{% for tag in tags %}
				<a href="javascript:void(0);" class="tag">{{ tag.name }}</a>
				{% endfor %}
			</div>
		</section>
	</section>

	<section>
		<label for="set-topped">文章置顶：</label>
		<input type="checkbox" id="set-topped"{% if topped %} checked{% endif %} />
	</section>

	<section class="opt-btns">
		<button class="i-btn preview-ctrl" title="预览"><i class="icon-eye"></i>预览</button>
		{% if post._id %}
		<button id="btn-update" class="i-btn i-btn-blue" title="更新">
			<i class="icon-checkmark"></i>更新
		</button>
		{% else %}
		<button id="btn-create" class="i-btn i-btn-blue" title="新建">
			<i class="icon-checkmark"></i>新建
		</button>
		{% endif %}
		<button class="i-btn i-btn-red editor-btn" data-cmd="export-md" title="导出"><i class="icon-download"></i>导出</button>
	</section>
</div>

<div class="post-preview preview-close" id="post-preview">
	<div class="preview-ctrl">
		<span class="preview-ctrl-inner icon-play"></span>
	</div>
	<section class="md preview-box markdown-body" id="preview-box"></section>
</div>
{% endblock %}

{% block script %}
<script src="/lib/require/require.js"></script>
<script src="/js/edit.js"></script>
{% endblock %}