<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="keywords" content="notes dmyang" />
	<meta name="description" content="dmyang dm chemdemo" />
	<meta name="author" content="dmyang @demo-i" />
	<meta name="copyright" content="dmyang" />
	<meta name="application-name" content="dmyang's blog" />
	<meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, width=device-width, user-scalable=no">
	<title>Notes·dm</title>
	<style type="text/css">
		body {
			background-color: #f6f4ec;
			/*color: #222;
			text-align: center;
			line-height: 12em;
			font-size: 3em;*/
		}
	</style>
</head>
<body>
	<!-- <h2>{{ error|default('Server error.') }}</h2> -->
</body>
<script src="http://www.qq.com/404/search_children.js"></script>
</html>