<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="notes dm dmyang nodeblog" />
    <meta name="description" content="Note my life, note my work." />
    <meta name="author" content="dmyang @demo-i" />
    <meta name="copyright" content="dmyang" />
    <meta name="application-name" content="dmyang blog" />
    <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, width=device-width, user-scalable=no">
    <title>{% block title %}Welcome dmyang blog{% endblock %}</title>
    <link href="/favicon.ico" type="image/x-icon" rel="icon" />
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    {% block stylesheet %}
    <link rel="stylesheet" href="/style/icons.css" />
    <link rel="stylesheet" href="/style/global.css" />
    <link rel="stylesheet" href="/style/md.css" />
    {% endblock %}
</head>

<body>
    {% block header %}
    <header>
        <div class="header-inner clearfix">
            <form class="page-search" method="POST" action="/search">
                <label id="icon-search" class="icon-search" for="search-text" title="搜索"></label>
                <input type="hidden" name="_csrf" value="{{ token }}">
                <!-- <div class="search-wrap clearfix"> -->
                <input id="search-text" name="keyword" class="input search-text" placeholder="关键字" />
                <!-- </div> -->
            </form>

            <section class="page-title">
                <h1>
                    <a href="/" class="active">云端笔记</a>
                </h1>
                <!-- <p class="sub-title">聊聊技术，写写生活，人生当有所积累！</p> -->
            </section>

            <nav>
                <a href="/" class="{% if home %}active{% endif %}" title="回主页">主页</a>
                <a href="http://dmfeel.lofter.com/" target="_blank" title="Lofter相册">行行摄摄</a>
            </nav>
        </div>
    </header>
    {% endblock %}

    {% block content %}{% endblock %}

    <footer>
        Copyright &copy; <script>document.write(new Date().getFullYear());</script>. Built with
        <a href="http://nodejs.org/" target="_blank">NodeJS(expressjs)</a>
        and <a href="http://www.mongodb.org/" target="_blank">MongoDB(mongoose)</a>.
        By <a href="http://www.dmfeel.com" target="_blank">dmyang</a>.
    </footer>
</body>
<script type="text/javascript">
var require = {};
{% if (env && env === 'production') %}
require = {
    baseDir: '/build',
    urlArgs: '_t=1382248007643'
}
{% else %}
require = {
    baseDir: '/src',
    urlArgs: '_t=' + (new Date()).getTime(),
    waitSeconds: 15,
    packages: [
        {
            name: 'ace',
            location: '../../src/js/ace',
            main: 'ace'
        },
        {
            name: 'tmpl',
            location: '../../tmpl',
            main: 'tmpl'
        }
    ],
    paths: {
        'jquery': '../bower-libs/jquery/jquery',
        'marked': '../bower-libs/marked/lib/marked',
        'hljs': '../bower-libs/highlightjs/highlight.pack',
        'underscore': '../bower-libs/underscore/underscore',
        'text': '../bower-libs/require/text',
        'utils': 'utils',
        'common': 'common',
        'themes': 'themes'
    },
    shim: {
        underscore: {
            exports: '_'
        },
        hljs: {
            exports: 'hljs'
        }
    }
};
{% endif %}
</script>
{% block script %}{% endblock %}
</html>
