<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="keywords" content="notes dm dmyang nodeblog" />
	<meta name="description" content="Note my life, note my work." />
	<meta name="author" content="dmyang @demo-i" />
	<meta name="copyright" content="dmyang" />
	<meta name="application-name" content="dmyang blog" />
	<meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, width=device-width, user-scalable=no">
	<title>{% block title %}Welcome dmyang blog{% endblock %}</title>
	<link href="/favicon.ico" type="image/x-icon" rel="icon" />
	<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
	{% block stylesheet %}
	<link rel="stylesheet" href="/style/icons.css" />
	<link rel="stylesheet" href="/style/global.css" />
	<link rel="stylesheet" href="/style/md.css" />
	{% endblock %}
</head>

<body>
	{% block header %}
	<header>
		<div class="header-inner clearfix">
			<section class="page-title">
				<h1>
					<a href="/" class="active">NetLife Notes</a>
				</h1>
				<!-- <p class="sub-title">聊聊技术，写写生活，人生当有所积累！</p> -->
			</section>

			<form class="page-search clearfix" method="POST" action="/search">
				<input type="hidden" name="_csrf" value="{{ token }}">
				<div class="search-wrap clearfix">
					<label id="icon-search" class="icon-search" for="search-text" title="搜索"></label>
					<input id="search-text" name="keyword" class="search-text" placeholder="Input keyword" />
				</div>
			</form>

			<nav>
				<a href="/" class="{% if home %}active{% endif %}" title="To home">Home</a>
				<a href="http://dmfeel.lofter.com/" target="_blank" title="Thumbs on lofter">Loter</a>
				<!-- <a href="/about" class="{% if about %}active{% endif %}" title="About blog">About</a> -->
			</nav>
		</div>
	</header>
	{% endblock %}

	{% block content %}{% endblock %}

	<footer>
		Copyright &copy; <script>document.write(new Date().getFullYear());</script>. Built with 
		<a href="http://nodejs.org/" target="_blank">NodeJS(expressjs)</a> 
		and <a href="http://www.mongodb.org/" target="_blank">MongoDB(mongoose)</a>.
		By <a href="http://www.dmfeel.com" target="_blank">dmyang</a>.
	</footer>
</body>
{% block script %}{% endblock %}
</html>