{% extends 'layout.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/style/list.css" />
{% endblock %}

{% block content %}
<div class="page-body clearfix">
	<div class="page-content">
		<h2>{{ page_title }}</h2>
		{% if posts.length > 0 %}
		<ul>
			{% for post in posts %}
			<li>
				{% if post.topped %}
				<b class="topped">【置顶】</b>
				{% endif %}
				<a href="/post/{{ post._id }}" target="_blank">{{ post.title }}</a>
				<span class="edit-info">
					<span class="post-date">
						<i class="icon-alarm" title="最后编辑时间"></i>
						<span class="update-date">{{ post.update_at|date('Y-m-d h:i:s') }}</span>
					</span>
					<span class="post-gap">/</span>by 
					{% if post.author.site %}
					<a href="{{ post.author.site }}" target="_blank">{{ post.author.name }}</a>
					{% else %}
					{{ post.author.name }}
					{% endif %}
					<a href="/edit/{{ post._id }}" class="icon-pencil post-edit" title="编辑"></a>
				</span>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<section class="no-post"></section>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block script %}
<script data-main="/js/list.js" src="/libs/requirejs/require.js"></script>
{% endblock %}