{% extends 'layout.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/style/list.css" />
{% endblock %}

{% block content %}
<div class="page-body shadow-box clearfix">
	<h2>{{ page_title }}</h2>
	{% if posts.length > 0 %}
	<ul>
		{% for post in posts %}
		<li>
			<div class="box-title">
				{% if post.topped %}
				<b class="topped">【置顶】</b>
				{% endif %}
				<a class="title" href="/post/{{ post._id }}">{{ post.title }}</a>
			</div>
			<div class="box-info">
				<span class="post-date">
					<i class="icon-alarm" title="最后编辑时间"></i>
					<span class="update-date">{{ post.update_at|date('Y-m-d h:i:s') }}</span>
				</span>
				&nbsp;
				<span class="post-author">{{ post.author.name }}</span>
				&nbsp;
				<span class="post-visite">
					访问量(<span class="visite-num">{{ post.visite }}</span>) 
				</span>
				&nbsp;|&nbsp;
				<span class="post-comments">
					评论(<span class="comments-num">{{ post.comments|default(0) }}</span>)
				</span>&nbsp;
				<a href="/edit/{{ post._id }}" class="icon-pencil post-edit" title="编辑"></a>
			</div>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<section class="no-post"></section>
	{% endif %}
</div>
{% endblock %}