<% include include/html-header %>
<link rel="stylesheet" href="/style/user.css" />

	<div class="page-body clearfix">
		<form class="user-login" action="/login" method="POST">
			<h2>管理登陆</h2>
			<p>
				<label for="email">邮箱：</label>
				<input class="input" type="email" name="email" id="email" placeholder="Input email" value="<%= (locals.user ? locals.user.email : '') %>" />
			</p>
			<p>
				<label for="pass">密码：</label>
				<input class="input" type="password" name="pass" id="pass" placeholder="Input password" />
			</p>
			<button type="submit" class="i-btn i-btn-blue">
				<i class="icon-checkmark"></i>提交
			</button>
		</form>

		<% if(locals.error) { %>
		<p class="error"><strong><%= locals.error %></strong></p>
		<% } %>
	</div>

<script data-main="/js/user.js" src="/js/libs/requirejs/require.js"></script>
</body>
</html>