{% extends 'layout.html' %}

{% block stylesheet %}
{% if (env && env === 'production') %}
<link rel="stylesheet" href="/build/style/user.min.css" />
{% else %}
<link rel="stylesheet" href="/style/icons.css" />
<link rel="stylesheet" href="/style/global.css" />
<link rel="stylesheet" href="/style/user.css" />
{% endif %}
{% endblock %}

{% block content %}
<div class="page-body clearfix">
	<form class="user-login" action="/login" method="POST">
		<h2>管理登陆</h2>
		<input id="csrf" type="hidden" name="_csrf" value="{{ token }}">
		<p>
			<label for="email">邮箱：</label>
			<input class="input" type="email" name="email" id="email" placeholder="Input email" value="{{ email }}" />
		</p>
		<p>
			<label for="pass">密码：</label>
			<input class="input" type="password" name="pass" id="pass" placeholder="Input password" />
		</p>
		<button type="submit" class="i-btn i-btn-blue">
			<i class="icon-checkmark"></i>提交
		</button>
		<a href="/signup" class="i-btn">注册</a>
	</form>

	{% if error %}<p class="error"><strong>{{ error }}</strong></p>{% endif %}
</div>
{% endblock %}

{% block script %}
{% if (env && env === 'production') %}
<script data-main="/build/js/user" src="/build/js/require.min.js"></script>
{% else %}
<script src="/lib/require/require.js"></script>
<script src="/js/config.js"></script>
<script src="/js/user.js"></script>
{% endif %}
{% endblock %}