{% extends 'layout.html' %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block stylesheet %}
{% if (env && env === 'production') %}
<link rel="stylesheet" href="/build/style/post.min.css" />
{% else %}
<link rel="stylesheet" href="/style/icons.css" />
<link rel="stylesheet" href="/style/md.css" />
<link rel="stylesheet" href="/style/global.css" />
<link rel="stylesheet" href="/style/post.css" />
{% endif %}
<link id="code-theme" rel="stylesheet" href="/lib/highlight.js/styles/solarized_light.css" />
{% endblock %}

{% block content %}
<input type="hidden" class="none" id="postid" value="{{ post._id }}" />
<div id="page-body" class="page-body clearfix">
	<!-- <div class="page-content"> -->
	<section class="post">
		<h1 class="post-title">
			{% if post.topped %}<b class="topped">[置顶] </b>{% endif %}<a href="/post/{{ post._id }}">{{ post.title }}</a>
		</h1>
		<div class="edit-info">
			{% if user %}
			{% if user.admin %}
			<!-- 这里是swig的bug，它会用in去遍历user，如果user为null的话会报错 -->
			<a href="/edit/{{ post._id }}" class="icon-pencil post-edit" title="编辑"></a>
			{% endif %}
			{% endif %}
			<span class="post-date">
				<i class="icon-alarm" title="最后编辑时间"></i>
				<span class="update-date">{{ post.update_at|date('Y-m-d h:i:s') }}</span>
			</span>
			<span class="post-gap">/</span>by 
			{% if post.author.site|genLink %}
			<a href="{{ post.author.site|genLink }}" target="_blank">{{ post.author.name }}</a>
			{% else %}
			{{ post.author.name }}
			{% endif %}
		</div>
		<!-- <textarea type="hidden" class="none" id="post-content">{{ post.content }}</textarea> -->
		<article class="post-body md" id="post-body"></article>
		<!-- <div class="post-body md" id="post-body">
		{% autoescape false %}
			{{ post.content }}
		{% endautoescape %}
		</div> -->
		<div class="prev-next">
			<p>上一篇：{% if prev._id %}<a href="/post/{{ prev._id }}">{{ prev.title }}</a>{% else %}没有了{% endif %}
			</p>
			<p>下一篇：{% if next._id %}<a href="/post/{{ next._id }}">{{ next.title }}</a>{% else %}没有了{% endif %}
			</p>
		</div>
	</section>

	<section class="post-comments" id="post-comments">
		<a href="#comments" class="none"></a>
		<h3><i class="icon-bubbles"></i>文章评论</h3>
		<ul class="comment-list ul" id="comment-list">
			<li class="no-comment">还没有评论唉^_^！</li>
		</ul>
		<section class="add-comment" id="add-comment">
			<input type="hidden" hidden id="reply-comment-id" name="reply_comment_id" />
			<input type="hidden" hidden id="at-user-id" name="at_user_id" />
			<input id="csrf" type="hidden" name="_csrf" value="{{ token }}">
			<h4><i class="icon-bubble"></i> 添加评论</h4>
			{% if user %}
			<div class="user-login" id="user-login">
				<input type="hidden" value="{{ user.name }}" class="name" />
				<input type="hidden" value="{{ user.email }}" class="email" />
				<input type="hidden" value="{{ user.site }}" class="site" />
				<!-- 这里图片采用懒加载，直接设置src如果头像拉取慢的话会阻塞页面渲染 -->
				<img class="avatar" width="48px" data-src="{{ user.avatar }}" alt="{{ user.name }}" />
				<a href="javascript:void(0);" data-cmd="logout" class="logout">登出</a>
			</div>
			{% else %}
			<div class="social-login" id="social-login">
				<span class="social-login-label">使用社交账号登录：</span>
				<div id="social-login-bd" class="social-login-bd"></div>
				<ul class="ul social-login-bd">
					<li>
						<a href="http://openapi.baidu.com/social/oauth/2.0/authorize?media_type=sinaweibo&amp;client_id=IXRaAxjZhBCXURI67ju2ZwM2&amp;state=&amp;response_type=code&amp;redirect_uri=http%3A%2F%2Fwww.dmfeel.com%2Fsocial%2Foauth%2Fcallback&amp;display=page&amp;client_type=web" rel="nofollow" class="sina-weibo">新浪微博</a>
					</li>
					<li>
						<a href="http://openapi.baidu.com/social/oauth/2.0/authorize?media_type=qqdenglu&amp;client_id=IXRaAxjZhBCXURI67ju2ZwM2&amp;state=&amp;response_type=code&amp;redirect_uri=http%3A%2F%2Fwww.dmfeel.com%2Fsocial%2Foauth%2Fcallback&amp;display=page&amp;client_type=web" rel="nofollow" class="qq">QQ</a>
					</li>
					<li>
						<a href="http://openapi.baidu.com/social/oauth/2.0/authorize?media_type=baidu&amp;client_id=IXRaAxjZhBCXURI67ju2ZwM2&amp;state=&amp;response_type=code&amp;redirect_uri=http%3A%2F%2Fwww.dmfeel.com%2Fsocial%2Foauth%2Fcallback&amp;display=page&amp;client_type=web" rel="nofollow" class="baidu">百度</a>
					</li>
					<li>
						<a href="http://openapi.baidu.com/social/oauth/2.0/authorize?media_type=qqweibo&amp;client_id=IXRaAxjZhBCXURI67ju2ZwM2&amp;state=&amp;response_type=code&amp;redirect_uri=http%3A%2F%2Fwww.dmfeel.com%2Fsocial%2Foauth%2Fcallback&amp;display=page&amp;client_type=web" rel="nofollow" class="qq-weibo">腾讯微博</a>
					</li>
					<li>
						<a href="http://openapi.baidu.com/social/oauth/2.0/authorize?media_type=renren&amp;client_id=IXRaAxjZhBCXURI67ju2ZwM2&amp;state=&amp;response_type=code&amp;redirect_uri=http%3A%2F%2Fwww.dmfeel.com%2Fsocial%2Foauth%2Fcallback&amp;display=page&amp;client_type=web" rel="nofollow" class="renren">人人</a>
					</li>
					<li class="none">
						<a class="no-social" href="javascript:void(0)">邮箱登录»</a>
					</li>
				</ul>
			</div>
			<div class="user-logout none" id="user-logout">
				<p>
					<input class="input" name="name" id="name" placeholder="怎么称呼？" />
					<label for="name">名称<b class="required">（*）</b></label>
				</p>
				<p>
					<input class="input" type="email" name="email" id="email" placeholder="再填一下邮箱" />
					<label for="email">邮箱（不会公开）<b class="required">（*）</b></label>
				</p>
				<p>
					<input class="input" name="site" id="site" placeholder="个人网站，有的话:)" />
					<label for="site">网站</label>
				</p>
			</div>
			{% endif %}
			<div class="comment-input">
				<label for="comment">评论内容（支持markdown^_^）</label>
				<textarea id="comment" class="textarea" rows="5" placeholder="随便说点(支持markdown)？"></textarea>
			</div>
			<div class="add-comment-btns">
				<button id="btn-add" data-cmd="add" class="i-btn i-btn-blue comment-submit">
					<i class="icon-checkmark"></i>提交
				</button>
				<button id="btn-cancel" data-cmd="cancel" class="i-btn comment-cancel">
					<i class="icon-close"></i>取消
				</button>
				<span id="tips" class="tips i-btn i-btn-red none"></span>
			</div>
		</section>
		<!-- <div class="ds-thread" data-thread-key="{{ post._id }}" data-title="{{ post.title }}" data-author-key="{{ post.author._id }}" data-limit="200"></div> -->
	</section>
	<!-- </div> -->
</div>
<!-- <div class="ds-login"></div> -->
{% endblock %}

{% block script %}
<script id='denglu_login_js'></script>
<script id='bd_soc_login_boot'></script>
{% if (env && env === 'production') %}
<script data-main="/build/js/post" src="/build/js/require.min.js"></script>
{% else %}
<script src="/lib/require/require.js"></script>
<script src="/js/config.js"></script>
<script src="/js/post.js"></script>
{% endif %}
{% endblock %}