{% extends 'layout.html' %}

{% block stylesheet %}
{% if (env && env === 'production') %}
<link rel="stylesheet" href="/build/style/user.min.css?_t=1385282236437" />
{% else %}
<link rel="stylesheet" href="/src/style/icons.css" />
<link rel="stylesheet" href="/src/style/global.css" />
<link rel="stylesheet" href="/src/style/user.css" />
{% endif %}
{% endblock %}

{% block content %}
<div class="page-body clearfix">
    <form class="user-signup" action="/signup" method="POST">
        <h2>注册</h2>
        <input id="csrf" type="hidden" name="_csrf" value="{{ token }}">
        <p>
            <label for="name">用户名<b class="required">（*）</b>：</label>
            <input class="input" type="name" name="name" id="name" placeholder="Input your name" value="{{ name }}" />
        </p>
        <p>
            <label for="email">邮箱<b class="required">（*）</b>：</label>
            <input class="input" type="email" name="email" id="email" placeholder="Input your email" value="{{ email }}" />
        </p>
        <p>
            <label for="pass">密码<b class="required">（*）</b>：</label>
            <input class="input" type="password" name="pass" id="pass" placeholder="Input your password" value="{{ pass }}" />
        </p>
        <p>
            <label for="site">网站：</label>
            <input class="input" name="site" id="site" placeholder="Input your site" value="{{ site }}" />
        </p>
        <button type="submit" class="i-btn i-btn-blue">
            <i class="icon-checkmark"></i>提交
        </button>
    </form>

    {% if error %}<p class="error"><strong>{{ error }}</strong></p>{% endif %}
</div>
{% endblock %}

{% block script %}
{% if (env && env === 'production') %}
<script data-main="/build/js/user" src="/require.min.js"></script>
{% else %}
<script data-main="/src/js/user" src="/require.min.js"></script>
{% endif %}
{% endblock %}
