{% block sitebar %}
<div class="page-sitebar">
	<section class="author-desc">
		<a href="jascript: void(0);" id="about-author">About me</a>
		<div class="author-info" itemscope itemtype="http://data-vocabulary.org/Person">
			<!-- <img itemprop="photo" alt="dmyang" src="//tp2.sinaimg.cn/1740817653/180/40030126550/1" /> -->
			<p>
				<span itemprop="name">dmyang</span>, 11年毕业，目前在<span itemprop="location">深圳</span>，<span itemprop="role">Web前端开发</span>，摄影爱好者。
			</p>
			<p>邮箱：<a href="mailto:yangdemo@gmail.com">yangdemo@gmail.com</a></p>
			<p class="sns-icon">
				SNS：<a title="新浪微博" href="//weibo.com/chemdemo" class="sns-weibo">新浪微博</a>
				<a title="豆瓣" href="//www.douban.com/people/chemdemo/" class="sns-douban">豆瓣</a>
			</p>
		</div>
	</section>

	<section class="site-tags">
		<h3>所有标签</h3>
		<div class="tags-list">
			{% for tag in tags %}
			<a href="/tag/{{ tag.name }}" class="tag">{{ tag.name }}</a>
			{% endfor %}
		</div>
	</section>

	<section class="site-archive">
		<h3>文章归档</h3>
		<ul class="archive-list ul">
			{% for count in counts %}
			<li>
				<a href="/posts/{{ count._id }}">{{ count._id|countFormat }}</a>
				<!-- <a href="/posts/{{ count._id }}">{{ count._id|date('Y年m月', -60*8) }}</a> -->
				(<b>{{ count.value|split('$')|length|default(0) }}</b>)
			</li>
			{% endfor %}
		</ul>
	</section>

	<section class="friend-links">
		<h3>友情链接</h3>
		<ul class="links-list ul">
			<li>
				<a href="http://www.alloyteam.com">AlloyTeam</a>
			</li>
			<li>
				<a href="http://jianshu.io/c/BDu5F8">Markdown</a>
			</li>
		</ul>
	</section>
</div>
{% endblock %}