{% block sitebar %}
<div class="page-sitebar">
	<!-- <section class="author-info shadow-box">
		<a class="avatar" href="#" title="blog"></a>
	</section> -->

	<!-- <section class="author-desc">
		<a href="jascript: void(0);">About me</a>
	</section> -->

	<section class="site-tags">
		<h3>所有标签</h3>
		<div class="tags-list">
			{% for tag in tags %}
			<a href="/tag/{{ tag.name }}" class="tag">{{ tag.name }}</a>
			{% endfor %}
		</div>
	</section>

	<section class="site-archive">
		<h3>文章归档</h3>
		<ul class="archive-list ul">
			{% for count in counts %}
			<li>
				<a href="/posts/{{ count._id|date('Y/m/') }}">{{ count._id|date('Y年m月') }}</a>
				(<b>{{ count.value|split('$')|length|default(0) }}</b>)
			</li>
			{% endfor %}
		</ul>
	</section>

	<section class="friend-links">
		<h3>友情链接</h3>
		<ul class="links-list ul">
			<li>
				<a href="http://www.alloyteam.com">AlloyTeam</a>
			</li>
			<li>
				<a href="http://jianshu.io/c/BDu5F8">Markdown</a>
			</li>
		</ul>
	</section>
</div>
{% endblock %}