body, input, button, textarea {
	font-family: 'Segoe UI', 'Microsoft Yahei', 'Myriad Pro', Helvetica, Tahoma, Simsun, sans-serif;
	color: #333;
}
body, ul, li, dl, dd, dt, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}