.md {
    line-height: 1.7;
    overflow:hidden
}
.md a.absent {
    color:#c00
}
.md a.anchor {
    display:block;
    padding-right:6px;
    padding-left:30px;
    margin-left:-30px;
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
    bottom:0
}
.md a.anchor:focus {
    outline:none
}
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
    margin:1em 0 15px;
    padding:0;
    font-weight:bold;
    line-height:1.7;
    cursor:text;
    position:relative
}
.md h1 .octicon-link,.md h2 .octicon-link,.md h3 .octicon-link,.md h4 .octicon-link,.md h5 .octicon-link,.md h6 .octicon-link {
    display:none;
    color:#000
}
.md h1:hover a.anchor,.md h2:hover a.anchor,.md h3:hover a.anchor,.md h4:hover a.anchor,.md h5:hover a.anchor,.md h6:hover a.anchor {
    text-decoration:none;
    line-height:1;
    padding-left:0;
    margin-left:-22px;
    top:15%
}
.md h1:hover a.anchor .octicon-link,.md h2:hover a.anchor .octicon-link,.md h3:hover a.anchor .octicon-link,.md h4:hover a.anchor .octicon-link,.md h5:hover a.anchor .octicon-link,.md h6:hover a.anchor .octicon-link {
    display:inline-block
}
.md h1 tt,.md h1 code,.md h2 tt,.md h2 code,.md h3 tt,.md h3 code,.md h4 tt,.md h4 code,.md h5 tt,.md h5 code,.md h6 tt,.md h6 code {
    font-size:inherit
}
.md h1 {
    font-size:2.5em;
    /*border-bottom:1px solid #ddd*/
}
.md h2 {
    font-size:2em;
    /*border-bottom:1px solid #eee*/
}
.md h3 {
    font-size:1.5em
}
.md h4 {
    font-size:1.2em
}
.md h5 {
    font-size:1em
}
.md h6 {
    color:#777;
    font-size:1em
}
.md blockquote,.md ul,.md ol,.md dl,.md table,.md pre {
    margin:15px 0
}
.md hr {
    border:0 none;
    color:#ccc;
    height:4px;
    padding:0;
    margin:15px 0
}
.md ul,.md ol {
    padding-left:30px
}
.md ul.no-list,.md ol.no-list {
    list-style-type:none;
    padding:0
}
.md ul ul,.md ul ol,.md ol ol,.md ol ul {
    margin-top:0;
    margin-bottom:0
}
.md dl {
    padding:0
}
.md dl dt {
    font-size:14px;
    font-weight:bold;
    font-style:italic;
    padding:0;
    margin-top:15px
}
.md dl dd {
    margin-bottom:15px;
    padding:0 15px
}
.md blockquote {
    border-left:4px solid #DDD;
    padding:0 15px;
    color:#777
}
.md blockquote>:first-child {
    margin-top:0px
}
.md blockquote>:last-child {
    margin-bottom:0px
}
.md table {
    width: 100%;
    overflow: auto;
    display: block;
}
.md table th {
    font-weight: bold;
}
.md table th,
.md table td {
    border: 1px solid #DDD;
    padding: 5px 10px;
}
.md table tr {
    /*border-top:1px solid #EEE;*/
    background-color: #EEE;
}
.md table tr:nth-child(2n) {
    /*background-color: #f8f8f8;*/
    background-color: transparent;
}
.md img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #EEE;
}
.md span.frame {
    display:block;
    overflow:hidden
}
.md span.frame>span {
    border:1px solid #ddd;
    display:block;
    float:left;
    overflow:hidden;
    margin:13px 0 0;
    padding:7px;
    width:auto
}
.md span.frame span img {
    display:block;
    float:left
}
.md span.frame span span {
    clear:both;
    color:#333;
    display:block;
    padding:5px 0 0
}
.md span.align-center {
    display:block;
    overflow:hidden;
    clear:both
}
.md span.align-center>span {
    display:block;
    overflow:hidden;
    margin:13px auto 0;
    text-align:center
}
.md span.align-center span img {
    margin:0 auto;
    text-align:center
}
.md span.align-right {
    display:block;
    overflow:hidden;
    clear:both
}
.md span.align-right>span {
    display:block;
    overflow:hidden;
    margin:13px 0 0;
    text-align:right
}
.md span.align-right span img {
    margin:0;
    text-align:right
}
.md span.float-left {
    display:block;
    margin-right:13px;
    overflow:hidden;
    float:left
}
.md span.float-left span {
    margin:13px 0 0
}
.md span.float-right {
    display:block;
    margin-left:13px;
    overflow:hidden;
    float:right
}
.md span.float-right>span {
    display:block;
    overflow:hidden;
    margin:13px auto 0;
    text-align:right
}
.md .tag {
    margin: inherit;
    background-color: inherit;
    color: inherit;
    padding: inherit;
}
/*.md code, .md tt {
    margin:0 2px;
    padding:1px 5px;
    border:1px solid #EEE;
    color: #F92672;
}
.md pre {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1em;
    background-color: #F0F0F0;
    border: 1px solid #DDD;
    border-width: 0px 0px 0px 3px;
    display: block;
}
.md pre .comment {
    color: #999;
}
.md code {
    white-space: nowrap
}
.md pre code, .md pre tt {
    background-color: transparent;
    border: none;
    color: #222;
}
.md pre > code {
    margin:0;
    padding:0;
    white-space:pre;
}*/
