<% var reply_id = reply_id || ''; var reply_author = reply_author || null; %>
<li<% if(reply_id) { %> data-rid="<%= reply_id %>"<% } %> class="comment" data-cid="<%= _id %>" data-uid="<%= author._id %>">
	<img class="avatar" src="<%= author.avatar %>" alt="<%= author.name %>" />
	<div class="comment-body">
		<h3>
			<% if(author.site) { %>
			<a href="<%= author.site %>" target="_blank"><%= author.name %></a>
			<% } else { %>
			<%= author.name %>
			<% } %>
			<span class="comment-date"><%= create_at %></span>
		</h3>
		<div class="comment-content">
			<% if(reply_author) { %>
				<em class="re-reply">回复
					<% if(reply_author.site) { %>
					<a href="<%= reply_author.site %>"><%= reply_author.name %></a>
					<% } else { %>
					<%= reply_author.name %>
					<% } %>
				</em>
			<% } %>
			<%= content %>
		</div>
		<div class="comment-btns">
			<a href="javascript: void(0);" data-cmd="delete" class="comment-del" title="删除">
				<i class="icon-trashcan"></i>
				删除
			</a>
			<a href="javascript: void(0);" data-cmd="<%= (reply_id ? 're-reply' : 'reply') %>" class="comment-reply" title="回复">
				<i class="icon-undo-2"></i>
				回复
			</a>
		</div>
		<% if(!reply_id) { %>
		<ul class="reply-list"></ul>
		<% } %>
	</div>
</li>